<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Select Language</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="container">
        <h1>Welcome, {{ username }}!</h1>
        <h1>Select Language</h1>
        {% for language in languages %}
        <button onclick="window.location.href='{{ url_for('levels', language=language) }}'">{{ language.capitalize() }}</button>
        {% endfor %}
        <li><a href="{{ url_for('logout') }}">Logout</a></li>
    </div>
</body>
</html>
